<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dailywaterlogger">

    ```
    <application
        android:allowBackup="true"
        android:label="Daily Water Logger"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Login screen (App start screen) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register screen -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Log Water screen -->
        <activity
            android:name=".LogWaterActivity"
            android:exported="false" />

        <!-- History screen -->
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />

    </application>
    ```

</manifest>
